:root {
    --radio-color-r: #fff;
    --radio-color-c: #fff;
    --radio-color-l: #fff;
}

.buttons {
    justify-content: space-between;
    align-items: center;
}

.button {
    color: #fff !important;
}

.button:hover {
    box-shadow: inset 0 0 400px 110px rgba(41, 41, 41, 0.13) !important;
}

.details {
    padding: 20px 12px !important;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.panel {
    box-shadow: none !important;
    margin: 0 !important;
}

.panel:not(:last-child) {
    border-bottom: 0;
}

.summary {
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
    min-height: 56px !important;
    height: 56px !important;
}

.sliderRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sliderRow:not(:last-child) {
    margin-bottom: 20px !important;
}

.label span {
    font-size: 13px !important;
}

.label_r svg {
    fill: var(--radio-color-r) !important;
}

.label_c svg {
    fill: var(--radio-color-c) !important;
}

.label_l svg {
    fill: var(--radio-color-l) !important;
}

.select div {
    padding: 9px 32px 9px 10px !important;
}

.radioGroup {
    margin-top: -14px !important;
}

.input {
    width: 30%;
    flex: none;
}

.input input {
    font-size: 13px !important;
}

.input label {
    font-size: 13px !important;
}

.input input::placeholder {
    font-size: 13px !important;
}

.formControl {
    flex: none;
    width: 20%;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
}

.formControlContainer {
    padding: 0 14px !important;
}

.deleteButton {
    flex: none;
    margin-left: 14px !important;
}
